[Desktop Entry]
Type=Application
Name=VMware User Agent
Comment=VMware User Agent
Exec=/usr/bin/vmware-user
Terminal=false
X-GNOME-Autostart-enabled=true
